<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />  
<head>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/components.css}" />
<link rel="shortcut icon" th:href="@{/app/img/favicon.png}" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">


$().ready(function() {
	 $("#contentPage").attr("src",basePath+'/server/queryOrder'); 
	 
});

	function switchPage(url,target){
		 $(target).siblings().removeClass('active');
		 $(target).addClass('active');
		 $("#contentPage").attr("src",basePath+url); 
	}

</script>

</head>
<body>
	<nav class="navbar navbar-default" th:fragment="copy">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" onclick="switchPage('/server/queryOrder',this)" style="width:200px;text-align: center	"><a href="#" >订单管理<span class="sr-only">(current)</span></a></li>
        <li onclick="switchPage('/server/queryStore',this)" style="width:200px;text-align: center"><a href="#" >门店管理</a></li>
        <li onclick="switchPage('/server/queryCar',this)" style="width:200px;text-align: center"><a href="#" >车辆管理</a></li>
        <li onclick="switchPage('/server/storeStat',this)" style="width:200px;text-align: center"><a href="#" >统计</a></li>
        <li onclick="switchPage('/server/showConfig',this)" style="width:200px;text-align: center"><a href="#" >配置</a></li>
      </ul> 
    </div><!-- /.navbar-collapse -->
    
    <iframe width="100%" height="90%"   frameborder="false" marginwidth="0px" scrolling="no" allowtransparency="true" style="border: medium none;overflow:auto;" src="/server/queryOrder" id="contentPage" name="right"></iframe>
		
  </div><!-- /.container-fluid -->
</nav>


</body>
</html>