'<div id="ftt"></div>'+
'<div id="fttc">'+
'	<div style="line-height: 60px">'+
'		<div class="col-xs-1" />'+
'		<div class="col-xs-2" id="fttcon">'+
'			<img alt="" style="width: 50px; margin-top: 5px"'+
'				th:src="@{/app/img/ic_launcher.png}" />'+
'		</div>'+
'		<div class="col-xs-1" style="word-wrap: break-word;" />'+
'		<div class="col-xs-7">'+
'			<span style="color: white; font-size: 20px; font-weight: bold">'+
'				<a onclick="openInNewWindow()"'+
'				href="http://s-210283.gotocdn.com:9090/yjhb.apk">下载游捷滑板</a>'+
'			</span>'+
'		</div>'+
'	</div>'+
'</div>';