<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="copy" class="base_font_size" id="footer-container">
		<div class="container">
			<div class="row" id="footer-list">
				<div class="col-sm-4"></div>
				<div class="col-sm-1">
					<h5><a th:href="@{/page/common_question.html}" target="_blank">常见问题</a></h5>
				</div>
				<div class="col-sm-1">
					<h5><a th:href="@{/page/legalinfo.html}" target="_blank">法律条款</a></h5>
				</div>
				<div class="col-sm-1">
					<h5><a href=" " target="_blank">联系我们</a></h5>
				</div>
				<div class="col-sm-2">
					<h5>
						<a href=" " target="_blank">索尼中国首页</a>
					</h5>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row" id="footer-bottom">
				<div style="text-align: center;margin-bottom:10px;">
					<span style="display:inline-block;width:180px;">
						<a href="http://www.miibeian.gov.cn/" style="color: #696969;"  target="_blank">京ICP证030173号</a>
					</span>
					<span style="color: #696969;" >文网文[2010]197号</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>