<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>用户查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/app/validation/jquery.validate.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<script type="text/javascript">
//<![CDATA[
	function showAddModal(optFlag,target){
		var sysUserId=$(target).attr('value');
		if (typeof(sysUserId) == "undefined"){
			sysUserId=0;
		}
		$("#dvmodal-body").html("").load(basePath+"/userMgr/updateSysUserInit.html?optFlag="+optFlag+"&sysUserId="+sysUserId+"&rn="+Math.random(), function() {
			$('#inputDialog').modal('show'); 
			});
	}
	/*]]>*/
	
	
	function deleteUser(target){
		var userId=$(target).attr('value');
		var path = basePath+"/userMgr/delete?userId="+userId;  
		$('#orderByForm').attr("action", path).submit();
	}
	 function  saveUser(){
		 if(!$("#fmAddUser").valid()) { return; } 
			$.ajax({
	            type: "POST",
	            url: basePath+'/userMgr/updateSysUser',
	            data:$('#fmAddUser').serialize(),
	            success: function(data) {
	            	if(data.resultCode==1){
	            		$('#inputDialog').modal('hide');
	            		alert('Add success!');
	            	}else{
	            		 alert('Add failure ！');
	            	}
	            }
	        });
		}	
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm" th:action="@{/userMgr}" method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
		 <div class="row" id="qry" style="margin-right:15px;">
		 	<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:15px 15px;padding:10px 10px">
		 		<div class="col-xs-5">
		 			<label>用户名:</label>
		 			<input name="name" id="userName" th:value="${sysUser.name}" />
		 		</div>
		 		<div class="col-xs-7">
		 			<button type="button" class="btn btn-primary"   name="btnQuery" id="btnQuery" onclick="javascript:$('#orderByForm').submit();" >查询</button>
		 		</div>
		 	</div>
		 </div>
		 <div id="tbdata">
			<table class="table table-bordered table-striped" >
				<thead>
					<tr>
						<th><span id="name" order="name" class="glyphicon glyphicon-arrow-up" style="cursor: pointer;padding-right:"></span>User Name</th>
						<th><span id="staffName" order="staffName" class="glyphicon glyphicon-arrow-up" style="cursor: pointer;padding-right:"></span>Staff Name</th>
						<th>Phone NO.</th>
						<th>Mail Address</th>
						<th>Login Count</th>
						<th width="150px">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="item : ${pageView.resultList}">
						<td th:text="${item.name}"></td>
						<td th:text="${item.staffName}"></td>
						<td th:text="${item.phoneNo}"></td>
						<td th:text="${item.mailAddress}"></td>
						<td th:text="${item.loginCount}"></td>
						<td>&nbsp;
							<a   href="javascript:void(0)" th:value="${item.id}" onclick="showAddModal('U',this);" >update</a> &nbsp;
							<a   th:value="${item.id}" href="javascript:void(0)" onclick="deleteUser(this)">delete</a> &nbsp;
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" th:value="${pageView.currentPageNum}"/>
			  			<input type="hidden" name="totalPageCnt" th:value="${pageView.totalPageCnt}"/>
			  			<input type="hidden" name="totalRecord" th:value="${pageView.totalRecord}"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"
						onclick="showAddModal('A',this)">添加</button>
				</div> 
			</div>
		</div>
	</form>
	
	<div class="modal fade" id="inputDialog" tabindex="-1" role="dialog"  aria-labelledby="inputDialogLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content" style="width:600px">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="inputDialoglLabel">Add User</h4> 
		         </div>
		         <div class="modal-body" id='dvmodal-body'></div>
		         <div style="text-align:center;height:60px">
		            <button type="button" id="submit"  onclick="saveUser()"  class="btn btn-danger fl btn-lg" style="border-radius:0px;width:128px;height:34px;line-height:10px;"> 确定 </button>
		             <button type="button" data-dismiss="modal"
								class="btn btn-lg btn-blue" style="border-radius:0px;width:128px;height:34px;margin-left:25px;line-height:10px;">取消</button>
		         
		         </div>
		      </div>
			</div>
		</div>
	
	
	
	</div>


</body>
</html>