<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	 <script type="text/javascript">
	 $().ready(function() {
		 formValidate();
	 }); 
	 
	 function formValidate(){
		 $("#fmAddUser").validate({
		     	focusInvalid:false	, 
		     	rules : {
		     		"name":{
		     			required:true,
		     			minlength:4,
		     			maxlength:12
		     		} ,
		     		"password":{
		     			required:true,
		     			minlength:4,
		     			maxlength:12,
		     			equalTo: "#confirmPassword"
		     		},
		     		"confirmPassword":{
		     			required:true
		     		},
		     		"mailAdress":{
		     			email:true
		     		}
		     	},
		         messages: {
		             
		         }
		     });
	 }
    </script> 
</head>

<form id="fmAddUser" th:action="@{/userMgr/updateSysUser}">
	<div style="display:none">
		<input type="hidden" id="sysUserId" name="sysUserId"  th:value="${sysUser.id}"  />
	</div>

	 <div id="userAdd">
	 	<table class="table table-bordered table-striped" >
	 		<tr>
	 			<td align="right">User Name：</td>
	 			<td><input type="text" id="userName" name="name" class="{required:true,minlength:5}" th:value="${sysUser.name}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">password：</td>
	 			<td><input type="password" id="password" name="password" class="{required:true,minlength:5}" th:value="${sysUser.password}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">Confirm password：</td>
	 			<td><input type="password" id="confirmPassword" name="confirmPassword" th:value="${sysUser.password}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">Staff Name：</td>
	 			<td><input type="text" id="staffName" name="staffName" th:value="${sysUser.staffName}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">Phone No：</td>
	 			<td><input type="text" id="phoneNo" name="phoneNo" th:value="${sysUser.phoneNo}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">Mail Address：</td>
	 			<td><input type="text" id="mailAdress" name="mailAdress" th:value="${sysUser.mailAdress}"/> </td>
	 		</tr>
	 		<tr>
	 			<td align="right">Role：</td>
	 			<td>
	 				<select  name="sysRoleId" >
							<option th:each="sysRole : ${sysRoleList}"
								th:value="${sysRole.id}" th:text="${sysRole.name}"
								th:selected="${sysRoleId == sysRole.id}"></option>
					</select>
	 			</td>
	 		</tr>
	 	</table>
	 </div>
</form>
</html>